.UserInput {
  width: 155px;
  height: 36px;
  margin: 40px;
  font-size: 17px;
  line-height: 1.29412;
  font-weight: 400;
  letter-spacing: -.021em;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  writing-mode: horizontal-tb;
  color: #797979;
  padding-left: 10px;
}